<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unreasonable Pizza</title>
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/estilo.css'%}">
    <link rel="shortcut icon" href="img/logo_pizza.jpg" />
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .header {
            width: 100%;
            padding: 10px 0;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        .nav {
            width: 200px;
            float: left;
            
            height: 500px;
            
        }
        .content {
            margin-left: 200px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="{% static 'core/img/logo_pizza.jpg'%}" alt="">
        
    </div>
    <div class="nav">
        <!-- Navigation items here -->
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Inicio</a>

            {% if user.email %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'colaborador_list' %}">Listado colaboradores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_clientes' %}">Listado clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_direcciones' %}">Listado direcciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_productos' %}">Listado productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_pedidos' %}">Listado pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productopedido_list' %}">Listado productos para pedido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="content">
        <!-- Definimos bloque para insertar templates -->
        {% block content %}
            <p>This is the default content area.</p>
        {% endblock %}
    </div>
</body>
</html>