{% extends "core/base.html" %}

{% block content %}
    <p>¡Bienvenido a Unreasonable Pizza!</p>
    <hr/>
    {% if message in messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    {% if user.email %}
    <h2>Bienvenido, {{request.user.first_name}} {{user.last_name}}</h2>
    <p>
        {{user.email}}
    </p>
    {% else %}
        <h2>Identificate para ver más información</h2>
    {% endif %}
    
{% endblock %}