{% extends "core/base.html" %}

{% block content %}
<div class="container">
    <h1>Detalles del Pedido</h1>
    <p><strong>Cliente:</strong> {{ pedido.cliente.nombre }}</p>
    <p><strong>Fecha del Pedido:</strong> {{ pedido.fecha }}</p>
    <p><strong>Medio de Pago:</strong> {{ pedido.medio_pago }}</p>
    <p><strong>Hora del Pedido:</strong> {{ pedido.hora_pedido }}</p>
    <p><strong>Horario de Entrega:</strong> {{ pedido.horario_entrega }}</p>
    
    <h2>Productos en el Pedido</h2>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in pedido.producto_pedido.all %}
            <tr>
                <td>{{ producto.producto.nombre }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>${{ producto.producto.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'lista_pedidos' %}">Volver a la lista de pedidos</a>
</div>
{% endblock %}